* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 8fr;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: rgb(217, 255, 255);
  padding: 16px;
  box-shadow: 0px 15px #aaaaaa;
}

.head {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  width: 60%;
}

#search {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(193, 213, 255);
}

.account {
  display: flex;
  align-items: center;
  gap: 15px;
}

label:hover {
  cursor: pointer;
}

.pfp-small {
  border-radius: 100px;
}

.notification:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pfp-small:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pfp-large {
  border-radius: 100px;
}

.small-text {
  font-size: 0.8rem;
}

.large-text {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav-button {
  background-color: rgb(75, 75, 255);
  color: white;
  padding: 13px;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
}

.nav-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sidebar {
  background-color: #94daff;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 6px;
  padding-left: 12px;
  color: white;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 8px;
  margin-bottom: 12px;
}

.locations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.location {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
}

.location:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.secondary-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.secondary {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
}

.secondary:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main {
  background-color: 
  #93c5fd;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 12px;
  display: grid;
  gap: 8px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.projects {
    grid-row: 1/3;
    grid-column: 1/2;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.card {
    border-radius: 5px;
    border-left: 4px solid yellow;
    padding: 4px;
    position: relative;
    box-shadow: 0px 4px #aaaaaa;
}

.card-head {
    font-size: 1.4rem;
    font-weight: 700;
}

.detail {
    margin-bottom: 50px;
}

.actions {
    position: absolute;
    bottom: 4%;
    right: 8%;
}

ul {
    list-style-type: none;
}

.announcement-box {
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 1.5px #aaaaaa;
}

.announcement {
    border-bottom: 1px solid #aaaaaa;
}

.trending-box {
    background-color: white;
    border: 2px solid black;
    padding: 8px;
}

.trending-item {
    position: relative;
    margin-bottom: 8px;
}

.item {
    position: absolute;
    bottom: -10%;
    left: 65px;
}